.html {

  .entity.other.attribute-name.ng {
    color: @666666 !important;
  }

  .punctuation.separator.key-value.ng {
    color: @666666 !important;
  }

  .meta.attribute-with-value.ng {
    color: @333333 !important;
  }

  .punctuation.definition.string.begin.ng {
    color: @333333 !important;
  }

  .punctuation.definition.string.end.ng {
    color: @333333 !important;
  }

  .meta.toc-list.ng {
    color: @333333 !important;
  }

  .string.interpolation.ng {
    color: @333333 !important;
  }

  .punctuation.definition.interpolation.begin.ng {
    color: @666666 !important;
  }

  .punctuation.definition.interpolation.end.ng {
    color: @666666 !important;
  }

  .meta.definition.interpolation.ng {
    color: @333333 !important;
  }

  .string.interpolation.pipe.ng {
    color: @222222 !important;
  }

  .meta.ngfor-attribute.ng {
    color: @666666 !important;
  }

  .punctuation.definition.tag.ng {
    color: darken(@111111,15%) !important;
  }

  .punctuation.definition.tag.begin.ng {
    color: darken(@111111,15%) !important;
  }

  .punctuation.definition.tag.end.ng {
    color: darken(@111111,15%) !important;
  }

  .entity.name.tag.ng {
    color: darken(@111111,15%) !important;
  }

  .entity.name.tag.other.ng {
    color: darken(@111111,15%) !important;
  }

  .meta.tag.any.ng {
    color: darken(@111111,15%) !important;
  }

  .meta.tag.other.ng {
    color: darken(@111111,15%) !important;
  }

}
