.syntax--html {

  .syntax--entity.syntax--other.syntax--attribute-name.syntax--ng {
    color: @666666 !important;
  }

  .syntax--punctuation.syntax--separator.syntax--key-value.syntax--ng {
    color: @666666 !important;
  }

  .syntax--meta.syntax--attribute-with-value.syntax--ng {
    color: @333333 !important;
  }

  .syntax--punctuation.syntax--definition.syntax--string.syntax--begin.syntax--ng {
    color: @333333 !important;
  }

  .syntax--punctuation.syntax--definition.syntax--string.syntax--end.syntax--ng {
    color: @333333 !important;
  }

  .syntax--meta.syntax--toc-list.syntax--ng {
    color: @333333 !important;
  }

  .syntax--string.syntax--interpolation.syntax--ng {
    color: @333333 !important;
  }

  .syntax--punctuation.syntax--definition.syntax--interpolation.syntax--begin.syntax--ng {
    color: @666666 !important;
  }

  .syntax--punctuation.syntax--definition.syntax--interpolation.syntax--end.syntax--ng {
    color: @666666 !important;
  }

  .syntax--meta.syntax--definition.syntax--interpolation.syntax--ng {
    color: @333333 !important;
  }

  .syntax--string.syntax--interpolation.syntax--pipe.syntax--ng {
    color: @222222 !important;
  }

  .syntax--meta.syntax--ngfor-attribute.syntax--ng {
    color: @666666 !important;
  }

  .syntax--punctuation.syntax--definition.syntax--tag.syntax--ng {
    color: darken(@111111,15%) !important;
  }

  .syntax--punctuation.syntax--definition.syntax--tag.syntax--begin.syntax--ng {
    color: darken(@111111,15%) !important;
  }

  .syntax--punctuation.syntax--definition.syntax--tag.syntax--end.syntax--ng {
    color: darken(@111111,15%) !important;
  }

  .syntax--entity.syntax--name.syntax--tag.syntax--ng {
    color: darken(@111111,15%) !important;
  }

  .syntax--entity.syntax--name.syntax--tag.syntax--other.syntax--ng {
    color: darken(@111111,15%) !important;
  }

  .syntax--meta.syntax--tag.syntax--any.syntax--ng {
    color: darken(@111111,15%) !important;
  }

  .syntax--meta.syntax--tag.syntax--other.syntax--ng {
    color: darken(@111111,15%) !important;
  }

  // Interpolation Syntax
  .syntax--punctuation.syntax--definition.syntax--js.syntax--string.syntax--begin.syntax--ng.syntax--html {
    color: @444444 !important;
  }

  .syntax--punctuation.syntax--definition.syntax--js.syntax--string.syntax--end.syntax--ng.syntax--html {
    color: @444444 !important;
  }

  .syntax--string.syntax--operator.syntax--ng {
    color: @syntax-text-color !important;
  }

  .syntax--string.syntax--bracket.syntax--ng {
    color: @syntax-text-color !important;
  }

  .syntax--string.syntax--js.syntax--bool.syntax--ng {
    color: @222222 !important;
  }

  .syntax--punctuation.syntax--definition.syntax--function.syntax--begin.syntax--ng {
    color: @666666 !important;
  }

  .syntax--punctuation.syntax--definition.syntax--function.syntax--end.syntax--ng {
    color: @666666 !important;
  }

  .syntax--meta.syntax--definition.syntax--function.syntax--ng {
    color: @333333 !important;
  }

}
