.coffee {
  &.keyword.operator {
    color: @555555;
  }

  &.variable.assignment {
    color: @222222;
  }

  &.meta.brace.square {
    color: @666666;
    background-color: fadeout(@666666, 93%);
  }

  &.meta.brace.curly {
    color: @111111;
    background-color: fadeout(@111111, 93%);
  }

  &.meta.brace.round {
    color: @555555;
    background-color: fadeout(@555555, 93%);
  }

  &.punctuation.definition.string {
    color: @444444;
    background-color: fadeout(@444444, 93%);
  }
}
