.html {
  .meta.tag.sgml.doctype {
    color: @777777;
  }

  .punctuation.definition.string {
    color: @444444;
    background-color: fadeout(@444444, 93%);
  }

  .entity.other.attribute-name {
    color: @111111;
  }

  .punctuation.definition.tag {
    color: @111111;
  }

  .meta.tag.block.any {
    color: @111111;
  }

  .meta.tag.inline.any {
    color: @111111;
  }

  .meta.tag.any {
    color: @111111;
  }

  .invalid.illegal.bad-ampersand.html {
    color: #fff !important;
  }

}
