.ruby {
  &.constant.other.symbol {
    color: @222222;
  }

  &.punctuation.definition.variable {
    color: @111111;
  }

  &.punctuation.separator.other {
    color: @555555;
  }

  &.keyword.operator.assignment {
    color: @555555;
  }

  &.keyword.operator.comparison {
    color: @555555;
  }

  &.punctuation.separator.inheritance {
    color: @555555;
  }

  &.keyword.operator.logical {
    color: @555555;
  }

  &.keyword.operator.arithmetic {
    color: @555555;
  }

  &.variable.other.constant {
    color: @333333;
  }

  &.variable.other.instance {
    color: @111111;
  }

  &.variable.parameter.function {
    color: @222222;
  }

  &.variable.other.block {
    color: @foreground;
  }

  &.punctuation.separator.variable {
    color: @555555;
  }

  &.punctuation.section.array {
    color: @666666;
    background-color: fadeout(@666666, 93%);
  }

  &.punctuation.section.scope {
    color: @111111;
    background-color: fadeout(@111111, 93%);
  }

  &.punctuation.section.regexp {
    color: @555555;
    background-color: fadeout(@555555, 93%);
  }

  &.punctuation.definition.string {
    color: @444444;
    background-color: fadeout(@444444, 93%);
  }

  &.punctuation.definition.parameters {
    color: @555555;
    background-color: fadeout(@555555, 93%);
  }

  &.punctuation.section.function {
    color: @555555;
    background-color: fadeout(@555555, 93%);
  }
}
